[Unit]
Description=LAN-party starter service
BindsTo=sys-subsystem-net-devices-enp3s6.device
After=sys-subsystem-net-devices-enp3s6.device

[Service]
Type=simple
ExecStart=/bin/zsh /home/server/Server/LAN-party-server/start.sh

[Install]
WantedBy=multi-user.target
